:root {
  --primary-color: #ececec;
  --secondary-color: #53a8b6;
  --tertiary-color: #bbe4e9;
  --quaternary-color: #5585b5;
}
body {
  font-family: poppins, sans-serif;
  background-color: var(--quaternary-color);
}
.text-center {
  text-align: center;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}
.grid {
  display: grid;
  grid-gap: 64px;
  padding: 40px 40px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns {
  grid-template-columns: 1fr 2fr 2fr;
}
.grid-3-equal-columns {
  grid-template-columns: repeat(3, 1fr);
  grid-gap:20px;
  padding: 40px;
  
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 75px;
}
section.secondary {
  background-color: var(--secondary-color);
  padding:50px 0;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/sistine-chapel-interior.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--primary-color);
  text-align: center;
  padding: 200px 0;
}
header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 0;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
  padding: 20px 0;
  text-transform: uppercase;
}
header h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
  padding: 20px 0;
}
header a {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 4px;
  padding: 16px 32px;
  margin-top: 32px;
}
header a:hover {
  color: rgb(4, 4, 80);
}
main {
  background-color: var(--tertiary-color);
}
.main-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
main h3 {
  font-weight: 700;
  font-size: 20px;
  margin: 0;

  text-transform: uppercase;
}
main h4 {
  font-size: 18px;
  opacity: 0.6;
  margin: 0;
}
main h5 {
  margin: 0;
  text-transform: uppercase;
  line-height: 2;
  text-decoration: underline;
}
main p {
  margin: 0;
}
main a {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  font-style: italic;
}
main a:hover {
  color: rgb(4, 4, 80);
}
.card {
  background-color: var(--primary-color);
}
.card-body{
  padding: 20px;
}
.card-footer{
  padding: 20px;
  
}
.btn {
  display: block;
  background-color: var(--quaternary-color);
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 4px;
  padding: 12px;

}
.btn:hover {
  color: var(--secondary-color);
  background-color: var(--tertiary-color);
  transition: all 0.3s ease;
}
footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/louvre-interior.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--primary-color);
}
footer a {
  color: var(--secondary-color);
  text-decoration: none;
}
footer a:hover {
  color: var(--primary-color);
}
footer h4 {
  font-weight: 700px;
  font-size: 20px;
  line-height: 1.5;
  text-decoration: underline;
}
footer p {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;

  opacity: 0.8;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 40px;
  }
  header h2 {
    font-size: 18px;
  }
  header h3 {
    font-size: 16px;
  }
  header a {
    font-size: 12px;
    padding: 8px 16px;
  }

  footer h4 {
    font-size: 15px;
    margin-bottom: 5px;
  }
  footer p {
    font-size: 12px;
  }

  footer a {
    font-size: 12px;
  }
  footer span {
    display: none;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 0px;
  }
  .secondary {
    padding: 20px;
  }
  main h3 {
    font-size: 15px;
  }
  main h4 {
    font-size: 13px;
  }
  main p {
    font-size: 10px;
  }
}
